@import "./styles/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

:root {
  font-family: "Oxanium", "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  width: 100%;

  color: var(--off-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  background-image: url("/img/bg-mobile.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Tablet (600px - 1023px) */
@media (min-width: 600px) {
  html {
    background-image: url("/img/bg-tablet.webp");
  }
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
  html {
    background-image: url("/img/bg-desktop.webp");
  }
}

body,
html {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--off-black);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

::selection {
  background-color: var(--primary);
  color: var(--off-white);
}

::-moz-selection {
  background-color: var(--primary);
  color: var(--off-white);
}
