@import "./styles/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

:root {
  font-family: "Oxanium", "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  width: 100%;

  color: var(--off-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  background-image: url("/img/bg/bg-tablet.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Aspect Ratio: 3:2 or narrower (e.g., tablets, phones) */
@media (max-aspect-ratio: 5/7) {
  html {
    background-image: url("/img/bg/bg-mobile.webp");
  }
}

/* Aspect Ratio: Between 3:2 and 16:9 (e.g., tablets, small laptops) */
@media (min-aspect-ratio: 5/7) and (max-aspect-ratio: 16/9) {
  html {
    background-image: url("/img/bg/bg-tablet.webp");
  }
}

/* Aspect Ratio: 16:9 or wider (e.g., desktops, large laptops) */
@media (min-aspect-ratio: 16/9) and (max-aspect-ratio: 21/9) {
  html {
    background-image: url("/img/bg/bg-desktop.webp");
  }
}

/* Aspect Ratio: Wider than 21:9 (e.g., ultra-wide monitors) */
@media (min-aspect-ratio: 21/9) {
  html {
    background-image: url("/img/bg/bg-xl-desktop.webp");
  }
}

body,
html {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--off-black);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

::selection {
  background-color: var(--primary);
  color: var(--off-white);
}

::-moz-selection {
  background-color: var(--primary);
  color: var(--off-white);
}
